@media(prefers-color-scheme: dark){
    body{
        background: #1c1c1e;
        color: #fefefe;
        width: 1000px;
    }
    a{
        color: #5fa9ee;
    }
    img{
        filter: grayscale(20%);
    }
}